// Dropdown menu list
.authDropdownMenuList
  &__item
    padding: 5px 0px
    cursor: pointer
    transition: 0.3s
    &:hover
      background-color: #ffffff6c
      border-radius: 3px
      transition: 0.3s
    &:not(:last-child)
      margin-bottom: 5px
  &__disable
    padding: 5px 0px
    color: #ffffff6c
    cursor: not-allowed

// Auth form
.authForm
  &__rememberMe
    font-size: 14px
    display: flex
    justify-content: flex-start
    align-items: center
    cursor: pointer
    input
      margin: 3px 0 0 5px
  &__submitButton
    margin-top: 10px
