.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0px 10px 0px;
}
.mainInfoProduct {
  width: 100%;
  margin-left: 10px;
}
.selectSize {
  font-size: 14px;
  font-weight: 400;
}
.notSelectSize {
  position: relative;
  font-size: 16px;
  display: inline;
}
.btnSelectSize {
  font-size: 14px;
  font-weight: 400;
  color: #2bbaf7;
  cursor: pointer;
  text-decoration: underline;
}
.notSelectSize:hover .selectionSize {
  transform: scale(1);
  transition: all 0.5s;
  opacity: 1;
  z-index: 1;
}
.selectionSize {
  position: absolute;
  transform: scale(0);
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  opacity: 0;
  padding-bottom: 15px;
  transition: all 0.5s;
}
/*  */
.smallProductIcons {
  width: 40px;
  height: 50px;
}
.smallProductIcons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Buttons cart */
.btnCartManagement {
  display: flex;
  width: 100px;
  margin: 0px 0px 0px 10px;
  transition: 0.3s;
}
.btnBuyWrapper {
  width: 100%;
}
.btnDelWrapper {
  width: 100%;
}
.btnDelWrapper:hover .btnDelGoodsTheCart {
  background: url("../../../img/icon/delete-white.svg") 50% / 20px no-repeat;
  transition: 0.3s;
}
.btnDelGoodsTheCart {
  margin: 0px 0px 0px 5px;
  background: url("../../../img/icon/delete.svg") 50% / 20px no-repeat;
  transition: 0.3s;
}
/* On hover buy button view notification select size */
.btnDisabled {
  position: relative;
}
.notifySelectSize {
  position: absolute;
  bottom: 45px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  transform: scale(0);
  transition: 0.3s;
}
.btnDisabled:hover .notifySelectSize {
  transform: scale(1);
  transition: 0.3s;
}
/* Quantity */
.quantityTitle span {
  font-weight: 700;
  margin: 0px 10px 0px 0px;
}
.quantityGoods {
  position: relative;
  margin: 15px 0px 0px 0px;
}
.buttons {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}
.buttons button {
  width: 50px;
  height: 30px;
  margin: 0px 5px 0px 0px;
}
.totalCost {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0px 0px 0px;
  text-align: right;
}
.totalCost span {
  text-decoration: underline;
}

@media (max-width: 424px) {
  .info {
    margin: 10px 0px 0px 0px;
  }
  .nameGoods {
    font-size: 16px;
  }
  .btnCartManagement {
    display: flex;
    flex-direction: column;
  }
  .btnDelGoodsTheCart {
    margin: 5px 0px 0px 0px;
  }
  .quantityGoods {
    margin: 10px 0px 0px 0px;
  }
  .buttons {
    display: block;
    margin: 10px 0px 0px 0px;
  }
}
