/* Page wrapper */
.pageNotExist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

/* Image */
.image {
  max-width: 400px;
}
.image img {
  width: 100%;
  height: 100%;
}

/* Desctiption */
.description {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  line-height: 1.7;
}
.description code {
  background-color: rgb(50, 50, 50);
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: text;
}

/* Media */
@media (max-width: 767px) {
  .image {
    max-width: 300px;
  }
}
@media (max-width: 424px) {
  .description {
    font-size: 18px;
  }
}
