.header {
  background-color: #fff;
}
.rowTitle {
  display: flex;
  justify-content: center;
}

.rowNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: relative;

  box-shadow: 0px 20px 16px -10px rgba(34, 60, 80, 0.2);
  -webkit-box-shadow: 0px 20px 16px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 20px 16px -10px rgba(34, 60, 80, 0.2);
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
/* Button cart =================================================== */
.titleCart {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin: 15px 25px 10px 0px;
  cursor: pointer;
  z-index: 1;
}
.titleCart img {
  width: 100%;
  height: 100%;
}
.quan {
  position: absolute;
  text-align: center;
  top: -7px;
  right: -12px;
  color: #eee;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  background-color: rgb(204, 74, 22);
  border-radius: 50%;
}
.cartWrapper {
  display: flex;
  align-items: center;
}
/* Button user auth ===============================================*/
.userAuthIcon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/* Notifatication ================================================ */
.alreadyNotification {
  animation: viewNotification 2.8s forwards;
  z-index: 0;
}
.alreadyNotification .message {
  display: block;
  padding: 5px;
}

@keyframes viewNotification {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  30% {
    transform: translateX(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Cart ========================================================== */
.name-goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0px 10px 0px;
}
.icon-goods {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px;
}
.delete-goods {
  width: 100px;
  height: 30px;
  margin: 0px 0px 0px 20px;
}
.quantity-goods {
  position: relative;
}
.quantity-goods::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -18px;
  left: 0;
  background-color: #000;
}
.quantity-goods span {
  font-weight: 700;
}
.quantity-goods__button {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}
.plus__button {
  width: 50px;
  height: 30px;
  margin: 0px 5px 0px 0px;
}
.minus__button {
  width: 50px;
  height: 30px;
}
.total {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 700;
  margin: 50px 0px 0px 0px;
}
.total__sum {
  font-weight: 500;
  margin: 0px 0px 0px 5px;
}
.order__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
}
.order__form input[type="text"] {
  width: 350px;
  height: 40px;
  margin: 5px 0px;
  padding: 0px 15px;
  color: #333;
  border: 1px solid #333;
  border-radius: 1px;
  background-color: #fff;
}
.order__button {
  width: 350px;
  margin: 5px 0px 0px 0px;
}
/* Media ========================================================= */

@media (max-width: 467px) {
  .plus__button {
    width: 35px;
    height: 30px;
    margin: 0px 5px 0px 0px;
  }
  .minus__button {
    width: 35px;
    height: 30px;
  }
  .name-goods {
    margin: 30px 0px 15px 0px;
    font-size: 18px;
  }
  .quantity-goods::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    bottom: -18px;
    left: 0;
  }
}
/* =============================================================== */
