.formCheckout {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 0px 0px;
}
.formCheckout [type="text"],
[type="email"],
[type="tel"],
[type="password"] {
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  padding: 0px 15px;
  color: #333;
  border: 1px solid #333;
  border-radius: 1px;
  background-color: #fff;
}
.btnSubmitForm {
  margin: 5px 0px 0px 0px;
  width: 100%;
}
/* Message after ordering */
.msgAfterOrder {
  display: flex;
  align-items: center;
}
.msgAfterOrder img {
  width: 30px;
  animation: viewcheckMark 0.5s;
}
.description {
  padding-left: 10px;
}

/* View check  mark animation */
@keyframes viewcheckMark {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Media */
@media (max-width: 424px) {
  .formCheckout [type="text"],
  [type="email"],
  [type="tel"] {
    width: 100%;
  }
}
